.App {
  text-align: center;
}

@media (max-width: 480px) {
  .main-container {
    width: 100dvw;
    height: 100dvh;
  }
  .options {
    background-color: aqua;
    height: 10dvh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .option-icon_1 {
    display: flex;
    flex-direction: row-reverse;
    width: 15dvw;
    justify-content: space-around;
  }
  .option-icon_2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 30dvw;
  }
  .option-icon_3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 45dvw;
  }

  .avatar {
    background-color: chartreuse;
    height: 40dvh;
  }

  .menu {
    background-color: blueviolet;
    height: 40dvh;
  }
}

@media (min-width: 480px) {
  .main-container {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 100dvh;
  }
  .options-container {
    display: flex;
    flex-direction: row;
  }

  .options {
    background-color: aqua;
    width: 10vw;
  }

  .avatar {
    background-color: chartreuse;
    width: 40vw;
  }

  .menu {
    background-color: blueviolet;
    width: 40vw;
  }
}
