.App {
  text-align: center;
}

@media (max-width: 480px) {
  .main-container {
    width: 100dvw;
    height: 100dvh;
  }
  .options {
    background-color: aqua;
    height: 10dvh;
  }

  .avatar {
    background-color: chartreuse;
    height: 40dvh;
  }

  .menu {
    background-color: blueviolet;
    height: 40dvh;
  }
}

@media (min-width: 480px) {
  .main-container {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 100dvh;
  }
  .options-container {
    display: flex;
    flex-direction: row;
  }

  .options {
    background-color: aqua;
    width: 10vw;
  }

  .avatar {
    background-color: chartreuse;
    width: 40vw;
  }

  .menu {
    background-color: blueviolet;
    width: 40vw;
  }
}
