.App {
  text-align: center;
}

@media (max-width: 480px) {
  .main-container {
    width: 100vw;
    height: 100vh;
  }
  .options {
    background-color: aqua;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .option-icon_1 {
    display: flex;
    flex-direction: row-reverse;
    width: 15vw;
    height: 10vh;
    justify-content: space-around;
  }
  .option-icon_2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 30vw;
    height: 10vh;
  }
  .option-icon_3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 45vw;
    height: 10vh;
  }
  .avatar {
    background-color: chartreuse;
    height: 40vh;
  }

  .menu {
    background-color: blueviolet;
    height: 40vh;
  }
}

/* landscape */
@media (min-width: 480px) {
  .main-container {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 100dvh;
  }
  .options-container {
    display: flex;
    flex-direction: row;
  }

  .options {
    background-color: aqua;
    width: 10dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .option-icon_1 {
    display: flex;
    flex-direction:  column;
    width: 10dvw;
    height: 15dvh;
    justify-content: space-around;
  }

  .option-icon_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10dvw;
    height: 30dvh;
  }
  .option-icon_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10dvw;
    height: 45dvh;
  }

  .avatar {
    background-color: chartreuse;
    width: 40dvw;
  }

  .menu {
    background-color: blueviolet;
    width: 40dvw;
  }
}
